	<h1>Order Summary</h1>
	<h3>Your hat...</h3>
	
	<ul>
		<li>Hat:{{this.image}}</li>
		<li>Quantity:{{this.quantity}}</li>
		<li>Price:{{this.price}}</li>
		<li>Shipping:{{this.shipping}}</li>
		<li>Total:{{this.total}}
	</ul>

	<button><a href="/orderInfo">Place Order</a></button>
